@import '../../variables.scss';
@import '../../listcomponent.scss';

div.obj-list-container {
	table {
		tr {
			th {
				&:nth-of-type(1) {
					width: 5%;
				}
				&:nth-of-type(2) {
					width: 17%;
				}
				&:nth-of-type(3) {
					width: 15%;
				}
				&:nth-of-type(4) {
					width: 18%;
				}
				&:nth-of-type(5) {
					width: 20%;
				}
				&:nth-of-type(6) {
					width: 15%;	
				}
				&:nth-of-type(7) {
					width: 10%;	
				}
			}
		}
	}
}